<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    package="com.example.admin">

    <uses-permission android:name="android.permission.INTERNET" />

    <application
        android:allowBackup="true"
        android:icon="@mipmap/ic_launcher"
        android:label="@string/app_name"
        android:roundIcon="@mipmap/ic_launcher_round"
        android:supportsRtl="true"
        android:theme="@style/AppTheme">
        <activity
            android:name="com.example.admin.activity.BusStatistics"
            android:exported="true" />
        <activity
            android:name="com.example.admin.activity.AddPlane"
            android:exported="true" />
        <activity
            android:name="com.example.admin.activity.Forget_Activity"
            android:exported="true" />
        <activity
            android:name="com.example.admin.activity.AddTrain"
            android:exported="true" />
        <activity
            android:name="com.example.admin.activity.DataLogActivity"
            android:exported="false" />
        <activity
            android:name="com.example.admin.activity.AddBuss"
            android:exported="true" />
        <activity
            android:name="com.example.admin.AddLocationActivity"
            android:exported="true" />
        <activity android:name="com.example.admin.About" />
        <activity android:name="com.example.admin.ByBoat" />
        <activity android:name="com.example.admin.activity.Plane" />
        <activity android:name="com.example.admin.activity.Train" />
        <activity android:name="com.example.admin.activity.Bus" />
        <activity
            android:name="com.example.admin.BoatActivity"
            android:label="@string/title_activity_boat"
            android:theme="@style/AppTheme.NoActionBar" />
        <activity android:name="com.example.admin.OnboardingScreenActivity" />
        <activity android:name="com.example.admin.RegistrationActivity" />
        <activity android:name="com.example.admin.LoginActivity" />
        <activity
            android:name="com.example.admin.DashboardActivity"
            android:theme="@style/AppTheme.NoActionBar_TransparentStatusBar" />
        <activity android:name="com.example.admin.SplashScreen">
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />

                <category android:name="android.intent.category.LAUNCHER" />
            </intent-filter>
        </activity>

        <meta-data
            android:name="preloaded_fonts"
            android:resource="@array/preloaded_fonts" />
    </application>

</manifest>